{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["> 5%", "ie 10-11", "not dead"]
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}